@using Haskap.Recipe.Application.Dtos.Recipies;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<RecipeOutputDto>

@{
    Layout = "_PublicLayout";
}

<!-- ##### Top Catagory Area Start ##### -->
<section class="top-catagory-area section-padding-80-0">
    <div class="container">
        <div class="row">
            @foreach (var recipe in Model.Take(2))
            {
                <!-- Top Catagory Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <img src="@Html.Raw($"/{ViewBag.BaseFolderPath}/{recipe.Id}/{recipe.Picture.NewName}{recipe.Picture.Extension}")" alt="">
                        <!-- Content -->
                        <div class="top-cta-content">
                            <h3>@Html.Raw(recipe.Name)</h3>
                            <h6>Basit &amp; Lezzetli</h6>
                            <a asp-action="Detail" asp-route-recipeId="@recipe.Id" class="btn delicious-btn">Tarife Git</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- ##### Top Catagory Area End ##### -->
<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    @* <h3>The best Receipies</h3> *@
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="~/lib/public/delicious/img/bg-img/r1.jpg" alt="">
                    <div class="receipe-content">
                        <a href="receipe-post.html">
                            <h5>Sushi Easy Receipy</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="~/lib/public/delicious/img/bg-img/r2.jpg" alt="">
                    <div class="receipe-content">
                        <a href="receipe-post.html">
                            <h5>Homemade Burger</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="~/lib/public/delicious/img/bg-img/r3.jpg" alt="">
                    <div class="receipe-content">
                        <a href="receipe-post.html">
                            <h5>Vegan Smoothie</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="~/lib/public/delicious/img/bg-img/r4.jpg" alt="">
                    <div class="receipe-content">
                        <a href="receipe-post.html">
                            <h5>Calabasa soup</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="~/lib/public/delicious/img/bg-img/r5.jpg" alt="">
                    <div class="receipe-content">
                        <a href="receipe-post.html">
                            <h5>Homemade Breakfast</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="~/lib/public/delicious/img/bg-img/r6.jpg" alt="">
                    <div class="receipe-content">
                        <a href="receipe-post.html">
                            <h5>Healthy Fruit Desert</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Best Receipe Area End ##### -->