@using System.Security.Claims
@using Haskap.Recipe.Application.Contracts;
@using Haskap.DddBase.Domain.Shared.Consts;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    
    @*<title>@ViewData["Title"] - Ajanda</title>*@
    <title>Yemek Tarifleri - @ViewData["Title"]</title>

    <!-- Favicon -->
    <link rel="icon" href="~/lib/public/delicious/img/core-img/favicon.ico">

    <!-- Google Font: Source Sans Pro -->
    @* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"> *@
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="~/lib/AdminLte_3_2_0/plugins/fontawesome-free/css/all.min.css">*@
    @* <link rel="stylesheet" href="~/lib/fontawesome_6_2_0/css/all.min.css"> *@

    @await RenderSectionAsync("StylesBeforeTheme", required: false)

    <!-- Theme style -->
    @* <link rel="stylesheet" href="~/lib/AdminLte_3_2_0/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/lib/public/delicious/style.css" asp-append-version="true">

    @await RenderSectionAsync("Styles", required: false)
    
</head>
<body class="hold-transition sidebar-mini layout-navbar-fixed layout-footer-fixed layout-fixed">
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="~/lib/public/delicious/img/core-img/salad.png" alt="">
    </div>

    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <form asp-controller="Recipe" asp-action="Search" method="post">
            <!-- Close Btn -->
            <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <input type="search" name="searchName" placeholder="Tarif ismiyle arayabilirsiniz...">
                        <input type="search" name="searchIngredients" placeholder="Virgülle ayrılmış olarak tarif malzemelerinde arayabilirsiniz...">
                    </div>
                </div>
            </div>

            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>


    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <!-- Breaking News -->
                    <div class="col-12 col-sm-6">
                        <div class="breaking-news">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><a href="#">Merhaba!</a></li>
                                    <li><a href="#">Yemek tariflerine hoş geldiniz.</a></li>
                                    @* <li><a href="#">Hello Delicious!</a></li> *@
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Top Social Info -->
                    <div class="col-12 col-sm-6">
                        <div class="top-social-info text-right">
                            @* <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-end" id="deliciousNav">

                        <!-- Logo -->
                        @* <a class="nav-brand" href="index.html"><img src="~/lib/public/delicious/img/core-img/logo.png" alt=""></a> *@

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li @* class="active" *@><a asp-controller="Recipe" asp-action="Index">Ana Sayfa</a></li>
                                    @* <li><a href="about.html">Hakkında</a></li>
                                    <li><a href="contact.html">İletişim</a></li> *@
                                    <li><a asp-action="Login" asp-controller="Account">Admin Panel</a></li>
                                    @* <li>
                                        <a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Ana Sayfa</a></li>
                                            <li><a href="about.html">Hakkında</a></li>
                                            <li><a href="blog-post.html">Blog Post</a></li>
                                            <li><a href="receipe-post.html">Receipe Post</a></li>
                                            <li><a href="contact.html">İletişim</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                            <li>
                                                <a href="#">Dropdown</a>
                                                <ul class="dropdown">
                                                    <li><a href="index.html">Home</a></li>
                                                    <li><a href="about.html">About Us</a></li>
                                                    <li><a href="blog-post.html">Blog Post</a></li>
                                                    <li><a href="receipe-post.html">Receipe Post</a></li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="elements.html">Elements</a></li>
                                                    <li>
                                                        <a href="#">Dropdown</a>
                                                        <ul class="dropdown">
                                                            <li><a href="index.html">Home</a></li>
                                                            <li><a href="about.html">About Us</a></li>
                                                            <li><a href="blog-post.html">Blog Post</a></li>
                                                            <li><a href="receipe-post.html">Receipe Post</a></li>
                                                            <li><a href="contact.html">Contact</a></li>
                                                            <li><a href="elements.html">Elements</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li> *@
                                    @* <li>
                                        <a href="#">Mega Menu</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Catagory</li>
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="blog-post.html">Blog Post</a></li>
                                                <li><a href="receipe-post.html">Receipe Post</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Catagory</li>
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="blog-post.html">Blog Post</a></li>
                                                <li><a href="receipe-post.html">Receipe Post</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Catagory</li>
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="blog-post.html">Blog Post</a></li>
                                                <li><a href="receipe-post.html">Receipe Post</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                            </ul>
                                            <div class="single-mega cn-col-4">
                                                <div class="receipe-slider owl-carousel">
                                                    <a href="#"><img src="img/bg-img/bg1.jpg" alt=""></a>
                                                    <a href="#"><img src="img/bg-img/bg6.jpg" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li> *@
                                    @* <li><a href="receipe-post.html">Receipies</a></li>
                                    <li><a href="receipe-post.html">4 Vegans</a></li>
                                    <li><a href="contact.html">Contact</a></li> *@
                                </ul>

                                <!-- Newsletter Form -->
                                <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    @RenderBody()
    
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <!-- Footer Social Info -->
                    @* <div class="footer-social-info text-right">
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div> *@
                    <!-- Footer Logo -->
                    @* <div class="footer-logo">
                        <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
                    </div> *@
                    <!-- Copywrite -->
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->


    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="~/lib/public/delicious/js/jquery/jquery-2.2.4.min.js"></script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <!-- Popper js -->
    <script src="~/lib/public/delicious/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/lib/public/delicious/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/lib/public/delicious/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/lib/public/delicious/js/active.js"></script>

    <script src="~/lib/sweetalert/dist/sweetalert2.all.min.js"></script>
    
    <script>
        
        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            let envelope = $.parseJSON(jqxhr.responseText);

            if(envelope && envelope.hasError){
                let exceptionStackTrace = envelope.exceptionStackTrace ? envelope.exceptionStackTrace : '';
                Swal.fire(
                    'Hata',
                    envelope.exceptionMessage + "<br /><br />" + exceptionStackTrace,
                    'error'
                );
            }
            else{
                Swal.fire(
                    'Beklenmedik Hata',
                    jqxhr.responseText,
                    'error'
                );
            }
        });

        $(document).ajaxStart(function () {
            $("#preloader").fadeIn();
        });

        $(document).ajaxStop(function () {
            $('#preloader').fadeOut('slow', function () {
                //$(this).remove();
            });
        });

        $(this).submit(function (e) {
            $("#preloader").fadeIn();
        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
